# Dealer Launchpad
# 

define host{
        use                     heroku-host            ; Name of host template to use
        host_name               auclp
        alias                   AUC Launchpad
        address                 auc.bmwlaunchpad.co.uk
}
