# BMW Mediaplayer Staging Lambda
# 

define host{
        use                     heroku-host            ; Name of host template to use
        host_name               mediaplayer-lambda-production
        alias                   Mediaplayer LAMBDA Production Endpoint
	address			dem4ybwhx9.execute-api.eu-west-1.amazonaws.com
}

define service{
        use                     generic-service
        host_name               mediaplayer-lambda-production
        service_description     Production Status
        check_command           check-https-json-string!/production/status!healthy!true!healthy
}

