# Dealer Launchpad
# 

define host{
        use                     heroku-host            ; Name of host template to use
        host_name               corplp
        alias                   Corporate BMW Launchpad
        address                 corporate.bmwlaunchpad.co.uk
}
